<p id="notice"><%= notice %></p>

<h1>Unite Administratives</h1>

<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unite_administratives.each do |unite_administrative| %>
      <tr>
        <td><%= unite_administrative.libelle %></td>
        <td><%= unite_administrative.code %></td>
        <td><%= link_to 'Show', unite_administrative %></td>
        <td><%= link_to 'Edit', edit_unite_administrative_path(unite_administrative) %></td>
        <td><%= link_to 'Destroy', unite_administrative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unite Administrative', new_unite_administrative_path %>
