<p id="notice"><%= notice %></p>

<p>
  <strong>Libelle:</strong>
  <%= @unite_administrative.libelle %>
</p>

<p>
  <strong>Code:</strong>
  <%= @unite_administrative.code %>
</p>

<%= link_to 'Edit', edit_unite_administrative_path(@unite_administrative) %> |
<%= link_to 'Back', unite_administratives_path %>
