<p id="notice"><%= notice %></p>

<h1>Thematiques</h1>

<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Description</th>
      <th>Thematique</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thematiques.each do |thematique| %>
      <tr>
        <td><%= thematique.libelle %></td>
        <td><%= thematique.description %></td>
        <td><%= thematique.thematique_id %></td>
        <td><%= link_to 'Show', thematique %></td>
        <td><%= link_to 'Edit', edit_thematique_path(thematique) %></td>
        <td><%= link_to 'Destroy', thematique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thematique', new_thematique_path %>
