<p id="notice"><%= notice %></p>

<p>
  <strong>Libelle:</strong>
  <%= @thematique.libelle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thematique.description %>
</p>

<p>
  <strong>Thematique:</strong>
  <%= @thematique.thematique_id %>
</p>

<%= link_to 'Edit', edit_thematique_path(@thematique) %> |
<%= link_to 'Back', thematiques_path %>
