<%= form_with(model: format_ressource) do |form| %>
  <% if format_ressource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(format_ressource.errors.count, "error") %> prohibited this format_ressource from being saved:</h2>

      <ul>
        <% format_ressource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :libelle %>
    <%= form.text_field :libelle %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
