<p id="notice"><%= notice %></p>

<p>
  <strong>Libelle:</strong>
  <%= @structure.libelle %>
</p>

<p>
  <strong>Sigle:</strong>
  <%= @structure.sigle %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @structure.adresse %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @structure.telephone %>
</p>

<%= link_to 'Edit', edit_structure_path(@structure) %> |
<%= link_to 'Back', structures_path %>
