<%= form_with(model: droit_expert) do |form| %>
  <% if droit_expert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(droit_expert.errors.count, "error") %> prohibited this droit_expert from being saved:</h2>

      <ul>
        <% droit_expert.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :libelle %>
    <%= form.text_field :libelle %>
  </div>

  <div class="field">
    <%= form.label :creer %>
    <%= form.check_box :creer %>
  </div>

  <div class="field">
    <%= form.label :lire %>
    <%= form.check_box :lire %>
  </div>

  <div class="field">
    <%= form.label :modifier %>
    <%= form.check_box :modifier %>
  </div>

  <div class="field">
    <%= form.label :supprimer %>
    <%= form.check_box :supprimer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
