<%= form_with(model: caracteristique) do |form| %>
  <% if caracteristique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caracteristique.errors.count, "error") %> prohibited this caracteristique from being saved:</h2>

      <ul>
        <% caracteristique.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :libelle %>
    <%= form.text_field :libelle %>
  </div>

  <div class="field">
    <%= form.label :sigle %>
    <%= form.text_field :sigle %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :valeur %>
    <%= form.text_field :valeur %>
  </div>
 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
