<p id="notice"><%= notice %></p>

<p>
  <strong>Sous type expert:</strong>
  <%= @type_sous_expert.sous_type_expert_id %>
</p>

<p>
  <strong>Type expert:</strong>
  <%= @type_sous_expert.type_expert_id %>
</p>

<%= link_to 'Edit', edit_type_sous_expert_path(@type_sous_expert) %> |
<%= link_to 'Back', type_sous_experts_path %>
