<%= form_with(model: se) do |form| %>
  <% if se.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(se.errors.count, "error") %> prohibited this se from being saved:</h2>

      <ul>
        <% se.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_area :condition %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
