<p id="notice"><%= notice %></p>

<h1>Ses</h1>

<table>
  <thead>
    <tr>
      <th>Condition</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ses.each do |se| %>
      <tr>
        <td><%= se.condition %></td>
        <td><%= se.description %></td>
        <td><%= link_to 'Show', se %></td>
        <td><%= link_to 'Edit', edit_se_path(se) %></td>
        <td><%= link_to 'Destroy', se, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Se', new_se_path %>
