<p id="notice"><%= notice %></p>

<p>
  <strong>Condition:</strong>
  <%= @se.condition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @se.description %>
</p>

<%= link_to 'Edit', edit_se_path(@se) %> |
<%= link_to 'Back', ses_path %>
