<%= form_with(model: type_ressource) do |form| %>
  <% if type_ressource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_ressource.errors.count, "error") %> prohibited this type_ressource from being saved:</h2>

      <ul>
        <% type_ressource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :libelle %>
    <%= form.text_field :libelle %>
  </div>

  <div class="field">
    <%= form.label :sigle %>
    <%= form.text_field :sigle %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
