<p id="notice"><%= notice %></p>

<h1>Type Systeme Irrigues</h1>

<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Sigle</th>
      <th>Description</th>
      <th>Caracteristique</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_systeme_irrigues.each do |type_systeme_irrigue| %>
      <tr>
        <td><%= type_systeme_irrigue.libelle %></td>
        <td><%= type_systeme_irrigue.sigle %></td>
        <td><%= type_systeme_irrigue.description %></td>
        <td><%= type_systeme_irrigue.caracteristique_id %></td>
        <td><%= link_to 'Show', type_systeme_irrigue %></td>
        <td><%= link_to 'Edit', edit_type_systeme_irrigue_path(type_systeme_irrigue) %></td>
        <td><%= link_to 'Destroy', type_systeme_irrigue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type Systeme Irrigue', new_type_systeme_irrigue_path %>
