<p id="notice"><%= notice %></p>

<h1>Sous Thematiques</h1>

<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sous_thematiques.each do |sous_thematique| %>
      <tr>
        <td><%= sous_thematique.libelle %></td>
        <td><%= sous_thematique.description %></td>
        <td><%= link_to 'Show', sous_thematique %></td>
        <td><%= link_to 'Edit', edit_sous_thematique_path(sous_thematique) %></td>
        <td><%= link_to 'Destroy', sous_thematique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sous Thematique', new_sous_thematique_path %>
