<p id="notice"><%= notice %></p>

<h1>Localites</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localites.each do |localite| %>
      <tr>
        <td><%= localite.type %></td>
        <td><%= localite.nom %></td>
        <td><%= link_to 'Show', localite %></td>
        <td><%= link_to 'Edit', edit_localite_path(localite) %></td>
        <td><%= link_to 'Destroy', localite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Localite', new_localite_path %>
