<p id="notice"><%= notice %></p>

<h1>Sous Localites</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sous_localites.each do |sous_localite| %>
      <tr>
        <td><%= sous_localite.type %></td>
        <td><%= sous_localite.nom %></td>
        <td><%= link_to 'Show', sous_localite %></td>
        <td><%= link_to 'Edit', edit_sous_localite_path(sous_localite) %></td>
        <td><%= link_to 'Destroy', sous_localite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sous Localite', new_sous_localite_path %>
