<%= form_with(model: specialite) do |form| %>
  <% if specialite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specialite.errors.count, "error") %> prohibited this specialite from being saved:</h2>

      <ul>
        <% specialite.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :designation %>
    <%= form.text_field :designation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
