<p id="notice"><%= notice %></p>

<h1>Specialites</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Designation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specialites.each do |specialite| %>
      <tr>
        <td><%= specialite.code %></td>
        <td><%= specialite.designation %></td>
        <td><%= link_to 'Show', specialite %></td>
        <td><%= link_to 'Edit', edit_specialite_path(specialite) %></td>
        <td><%= link_to 'Destroy', specialite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Specialite', new_specialite_path %>
