<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @specialite.code %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @specialite.designation %>
</p>

<%= link_to 'Edit', edit_specialite_path(@specialite) %> |
<%= link_to 'Back', specialites_path %>
