<%= form_with(model: pjointe) do |form| %>
  <% if pjointe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pjointe.errors.count, "error") %> prohibited this pjointe from being saved:</h2>

      <ul>
        <% pjointe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file %>
    <%= form.text_field :file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
