<p id="notice"><%= notice %></p>

<h1>Localite Localites</h1>

<table>
  <thead>
    <tr>
      <th>Localite</th>
      <th>Sous localite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localite_localites.each do |localite_localite| %>
      <tr>
        <td><%= localite_localite.localite_id %></td>
        <td><%= localite_localite.sous_localite_id %></td>
        <td><%= link_to 'Show', localite_localite %></td>
        <td><%= link_to 'Edit', edit_localite_localite_path(localite_localite) %></td>
        <td><%= link_to 'Destroy', localite_localite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Localite Localite', new_localite_localite_path %>
