<p id="notice"><%= notice %></p>

<p>
  <strong>Localite:</strong>
  <%= @localite_localite.localite_id %>
</p>

<p>
  <strong>Sous localite:</strong>
  <%= @localite_localite.sous_localite_id %>
</p>

<%= link_to 'Edit', edit_localite_localite_path(@localite_localite) %> |
<%= link_to 'Back', localite_localites_path %>
