<p id="notice"><%= notice %></p>

<h1>Ressource Pays</h1>

<table>
  <thead>
    <tr>
      <th>Ressource</th>
      <th>Pay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ressource_pays.each do |ressource_pay| %>
      <tr>
        <td><%= ressource_pay.ressource_id %></td>
        <td><%= ressource_pay.pay_id %></td>
        <td><%= link_to 'Show', ressource_pay %></td>
        <td><%= link_to 'Edit', edit_ressource_pay_path(ressource_pay) %></td>
        <td><%= link_to 'Destroy', ressource_pay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ressource Pay', new_ressource_pay_path %>
