<p id="notice"><%= notice %></p>

<p>
  <strong>Ressource:</strong>
  <%= @ressource_pay.ressource_id %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @ressource_pay.pay_id %>
</p>

<%= link_to 'Edit', edit_ressource_pay_path(@ressource_pay) %> |
<%= link_to 'Back', ressource_pays_path %>
