<%= form_with(model: langue) do |form| %>
  <% if langue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(langue.errors.count, "error") %> prohibited this langue from being saved:</h2>

      <ul>
        <% langue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
