<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @langue.code %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @langue.nom %>
</p>

<%= link_to 'Edit', edit_langue_path(@langue) %> |
<%= link_to 'Back', langues_path %>
